header.home-header 
    height: 100%;
    width: 100%
    background: #81b29a;
    background: linear-gradient(90deg, #3dac76 0%, #31c47d 100%);
    z-index: 2;
    position: relative;
    color: #FFFFFF;

    main.home-header-main
        height: 100%
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    .info-box
        margin-top: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 60%;
        height: 350px;

        img 
            width: 650px;
            height: auto;

        .info-box-top
            display: flex;

            .info-box-content
                margin: 0 0 0 1.5rem;

        .info-box-bottom
            display: flex;
            align-items: center;
            flex-direction: column;

            .home-start-now
                transition: 0.2s;
                max-width: 220px;
                padding: 15px;
                border: none;
                border-radius: 30px 0 30px 0;
                background: #293241;
                
                &:hover
                    transition: 0.2s
                    border-radius: 30px;
                    

            .highlight
                margin: 15px 0 0 0;
                span
                    background: #226142;
